.menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: black;
  color: white;
  box-sizing: border-box;
  height: 101%;
  min-height: 100vh;
  width: 100%;
  padding: 2rem;
  position: fixed;
  top: -1px;
  right: 0;
  left: 0;
  bottom: -1px;
  z-index: 50;
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;

  h3 {
    width: fit-content;
    cursor: pointer;
    transition: color 0.3s ease-in-out;
  }

  h3:hover {
    color: #2196f3;
  }

  &__transition {
    transform: translateX(0);
  }
}
